In [1]:
import numpy as np
import pandas as pd

In [2]:
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [3]:
dnevi=pd.read_csv('data/po_dnevih.csv', sep=";")#
udelezenci=pd.read_csv('data/po_vrstah_udelezencev.csv', sep=";")
ceste=pd.read_csv('data/po_vrsti_ceste.csv', sep=";")
meseci=pd.read_csv('data/po_mesecih.csv', sep=";")
regije=pd.read_csv('data/po_regijah.csv', sep=";")
lokacije=pd.read_csv('data/po_lokaciji.csv', sep=";")
ura=pd.read_csv('data/po_urah.csv', sep=";")
alkohol=pd.read_csv('data/alkohol.csv', sep=";")

In [4]:
alkohol["Stopnje alkoholiziranosti 0,80 in več"].fillna(alkohol.groupby("Kategorija")["Stopnje alkoholiziranosti 0,80 in več"].transform("mean"), inplace=True)
alkohol["Stopnje alkoholiziranosti 0,80 in več"] = alkohol["Stopnje alkoholiziranosti 0,80 in več"].astype(int)

In [5]:
# 
dnevi_sum = dnevi.groupby(['Dan v tednu'], as_index = False).agg({'Prometne nesreče s smrtnim izidom': [np.sum],
                                                                  'Prometne nesreče s telesno poškodbo': [np.sum],
                                                                  'Prometne nesreče z materialno škodo': [np.sum],
                                                                  'Prometne nesreče - SKUPAJ': [np.sum]
                                                                 }) 

dnevi_sum.columns = ["dan_v_tednu", "st_smrt", "st_telesna_poskodba", "st_materialna_skoda", "skupaj"]    
dnevi_sum = dnevi_sum.sort_values(by="skupaj", ascending=[False])
dnevi_sum;

In [6]:
# draws plot
trace1 = go.Bar(
    y=dnevi_sum["dan_v_tednu"],
    x=dnevi_sum["st_smrt"],
    name='Število nesreč s smrtnim izidom',
    orientation = "h"
)
trace2 = go.Bar(
    y=dnevi_sum["dan_v_tednu"],
    x=dnevi_sum["st_telesna_poskodba"],
    name='Število nesreč telesnih poškodb',
    orientation = "h"
)
trace3 = go.Bar(
    y=dnevi_sum["dan_v_tednu"],
    x=dnevi_sum["st_materialna_skoda"],
    name='Število nesreč z materialno škodo',
    orientation = "h"
)

data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='stack'
)

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='stacked-bar')

In [7]:
# 
smrti_sum = dnevi.groupby(['leto'], as_index = False).agg({'Prometne nesreče s smrtnim izidom': [np.sum],
                                                                  'Prometne nesreče s telesno poškodbo': [np.sum],
                                                                  'Prometne nesreče z materialno škodo': [np.sum],
                                                                  'Prometne nesreče - SKUPAJ': [np.sum]
                                                                 }) 

smrti_sum.columns = ["leto", "st_smrt", "st_telesna_poskodba", "st_materialna_skoda", "skupaj"]    
smrti_sum = smrti_sum.sort_values(by="leto", ascending=[False])
smrti_sum;

In [8]:
# Create a trace
trace = go.Scatter(
    x = smrti_sum["leto"],
    y = smrti_sum["st_smrt"]
)

data = [trace]
iplot(data, filename='basic-line')

In [9]:
mapbox_access_token = "pk.eyJ1IjoiaW1pbG9zayIsImEiOiJjamZ2M3c2MmQwcHk5Mndtd3lyMTI2bHJqIn0.FMLgB-WENz3ZSe1gRWRJHg"

data = go.Data([
    go.Scattermapbox(
        lat=['46.1512'],
        lon=['14.9955'],
        mode='markers',
    )
])
layout = go.Layout(
    height=600,
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        layers=[
            dict(
                sourcetype = 'geojson',
                source = 'https://gist.githubusercontent.com/imilosk/47013ab15f8a329b0497853f95d081d5/raw/48d364de4c88b0fc6fbd9e42012b47f87def285d/slovenia.json',
                type = 'fill',
                color = 'rgba(163,22,19,0.8)'
            )
        ],
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=46.1512,
            lon=14.9955
        ),
        pitch=0,
        zoom=7.0,
        style='light'
    ),
)

fig = dict(data=data, layout=layout)
#iplot(fig, filename='county-level-choropleths-python');

In [10]:
# 
alko_sum = alkohol.groupby(['Kategorija'], as_index = False).agg({'Stopnje alkoholiziranosti 0,50 in več': [np.sum],
                                                                  'Stopnje alkoholiziranosti 0,80 in več': [np.sum],
                                                                  'Stopnje alkoholiziranosti 1,50 in več': [np.sum],
                                                                  'Število alkoholiziranih udeležencev - SKUPAJ': [np.sum]
                                                                 }) 

alko_sum.columns = ["kategorija","alko_05", "alko_08", "alko_15", "skupaj"]
alko_sum = alko_sum.sort_values(by="skupaj", ascending=[False])
alko_sum = alko_sum.drop([0, 3, 9])

In [11]:
trace1 = go.Bar(
    x=alko_sum["kategorija"],
    y=alko_sum["alko_05"],
    name='Stopnje alkoholiziranosti 0,50 in več'
)
trace2 = go.Bar(
    x=alko_sum["kategorija"],
    y=alko_sum["alko_08"],
    name='Stopnje alkoholiziranosti 0,80 in več'
)
trace3 = go.Bar(
    x=alko_sum["kategorija"],
    y=alko_sum["alko_15"],
    name='Stopnje alkoholiziranosti 1,50 in več'
)

data = [trace1, trace2, trace3]
layout = go.Layout(
    barmode='group'
)

fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='grouped-bar')

In [14]:
ura

,Ura v dnevu,Prometne nesreče - SKUPAJ,Prometne nesreče s smrtnim izidom,Prometne nesreče s telesno poškodbo,Prometne nesreče z materialno škodo,Število udeležencev - SKUPAJ,Število udeležencev - mrtvi,Število udeležencev s hudo telesno poškodbo,Število udeležencev z lahko telesno poškodbo,Število udeležencev brez poškodbe,Leto
0,0,604,6,163,435,1052,7,24,230,791,2003
1,1,487,2,144,341,834,2,22,205,605,2003
2,2,449,4,114,331,721,5,24,159,533,2003
3,3,390,9,108,273,675,12,28,160,475,2003
4,4,403,4,129,270,694,4,31,172,487,2003
5,5,782,8,275,499,1430,10,46,367,1007,2003
6,6,1454,8,493,953,2922,8,49,620,2245,2003
7,7,1771,4,459,1308,3566,6,34,584,2942,2003
8,8,1835,5,424,1406,3688,6,50,529,3103,2003
9,9,2020,12,442,1566,4092,13,40,560,3479,2003
10,10,2346,4,548,1794,4856,4,59,709,4084,2003
11,11,2556,9,619,1928,5228,10,54,788,4376,2003
12,12,2328,10,594,1724,4787,11,56,779,3941,2003
13,13,2662,12,729,1921,5494,12,72,965,4445,2003
14,14,3038,12,888,2138,6421,13,83,1234,5091,2003
15,15,3147,10,849,2288,6570,11,92,1126,5341,2003
16,16,2787,14,778,1995,5773,15,100,1025,4633,2003
17,17,2578,21,746,1811,5287,22,111,1004,4150,2003
18,18,2347,16,712,1619,4728,17,88,944,3679,2003
19,19,2061,12,629,1420,4055,12,96,821,3126,2003
20,20,1651,9,523,1119,3215,9,68,744,2394,2003
21,21,1399,13,447,939,2741,16,69,650,2006,2003
22,22,1200,10,378,812,2265,10,52,571,1632,2003
23,23,875,6,265,604,1550,7,45,364,1134,2003
24,0,655,9,189,457,1128,9,23,291,805,2004
25,1,555,12,170,373,987,12,39,281,655,2004
26,2,456,5,145,306,773,5,23,199,546,2004
27,3,429,3,94,332,704,3,18,136,547,2004
28,4,428,6,137,285,749,7,24,203,515,2004
29,5,822,8,304,510,1513,10,46,435,1022,2004
...,...,...,...,...,...,...,...,...,...,...,...
258,18,1035,13,399,623,1927,14,54,513,1346,2013
259,19,971,6,355,610,1770,6,43,489,1232,2013
260,20,861,7,309,545,1565,8,37,411,1109,2013
261,21,678,5,232,441,1232,5,22,375,830,2013
262,22,530,6,171,353,888,7,16,248,617,2013
263,23,358,-,90,268,558,-,11,127,420,2013
264,0,224,1,58,165,341,1,4,73,263,2014
265,1,184,4,38,142,277,4,3,44,226,2014
266,2,158,2,32,124,236,2,9,39,186,2014
267,3,168,3,29,136,249,3,3,38,205,2014
268,4,163,2,43,118,248,2,5,56,185,2014
269,5,381,1,129,251,603,1,9,161,432,2014
270,6,654,3,213,438,1178,4,19,264,891,2014
271,7,797,6,269,522,1459,8,27,314,1110,2014
272,8,863,4,270,589,1603,4,36,316,1247,2014
273,9,937,4,314,619,1736,4,35,371,1326,2014
274,10,1137,4,374,759,2077,5,53,413,1606,2014
275,11,1106,6,360,740,2047,8,47,408,1584,2014
276,12,1112,2,389,721,2086,2,51,461,1572,2014
277,13,1143,8,405,730,2181,9,62,487,1623,2014
278,14,1369,5,470,894,2605,5,41,569,1990,2014
279,15,1406,7,522,877,2703,8,63,607,2025,2014
280,16,1289,9,463,817,2427,9,64,541,1813,2014
281,17,1184,7,458,719,2201,7,72,543,1579,2014
282,18,1040,5,388,647,1868,5,74,432,1357,2014
283,19,854,3,288,563,1524,3,52,352,1117,2014
284,20,735,4,240,491,1302,4,44,318,936,2014
285,21,599,5,186,408,1028,7,24,263,734,2014
286,22,422,1,126,295,726,2,24,182,518,2014
287,23,326,1,103,222,548,1,5,142,400,2014

In [24]:
ura
ura_avg = ura.groupby(['Ura v dnevu'], as_index = False).agg({'Prometne nesreče - SKUPAJ': [np.sum]}) 

ura_avg.columns = ["Ura v dnevu","sum"]
ura_avg["sum"]=ura_avg["sum"]/(365*11+3)
ura_avg

    Ura v dnevu       sum
0             0  1.182429
1             1  0.984072
2             2  0.835490
3             3  0.790194
4             4  0.833748
5             5  1.660777
6             6  2.918865
7             7  3.550025
8             8  3.548780
9             9  3.951220
10           10  4.501493
11           11  4.773021
12           12  4.590095
13           13  4.989547
14           14  5.822051
15           15  6.014684
16           16  5.393230
17           17  5.009457
18           18  4.814087
19           19  4.104032
20           20  3.402439
21           21  2.919363
22           22  2.369836
23           23  1.695122

In [23]:
# Create a trace
trace = go.Bar(
    x = ura_avg["Ura v dnevu"],
    y = ura_avg["sum"]
)

data = [trace]
iplot(data, filename='basic-bar')